<div>
    <p>
        Estamos aguardando a compensação de sua transferencia. Assim que confirmada você será notificado. Qualquer dúvida, entre em contato conosco através do support@voipartner.com

    </p>

</div>

<ul>
        <li>No. Contrato: {{ contrato.no_contrato }}</li>
        <li>Valor de cada cota: {{ contrato.valor_cota }}</li>
        <li>Total de cotas adquiridas: {{ contrato.cotas_contratadas }}</li>
        <li>Comprovante de depósito: <a href="{{ contrato.comprovante_deposito.url }}">{{ contrato.comprovante_deposito }}</a> </li>
        <li>Valor total: {{ contrato.valor_contratado }}</li>

</ul>