<div>
    <p>
        Você possui cotas disponíveis para serem adquiridas. Para prosseguir com o seu contrato, você deve realizar a transferencia para a conta da Voi Partner, considerando o valor total de cotas que deseja adquirir.

    </p>
    <p>Dados bancários voi partner: Bank of america; Account number, swift code; Voi Services LLC</p>
    <p>
        Logo que realizada a transferencia, informe aqui neste formulário quantas cotas você adquiriu, faça o upload do comprovante de transferencia e upload do seu documento de identificação</p>
</div>

<form method="post" action="{{ contrato.id }}/pagamento-pendente" enctype="multipart/form-data">
    {% csrf_token %}
<ul>
    <li>No. Contrato: {{ contrato.no_contrato }}</li>
    <li>Valor de cada cota: {{ contrato.valor_cota }}</li>
    <li>Total de cotas liberadas: {{ contrato.cotas_liberadas }}</li>
    <li>Total de cotas adquiridas: <input type="text" name="cotas_contratadas" /></li>
    <li>Upload comprovante de transferencia bancária: <input type="file" name="comprovante_deposito" /> </li>
    <li>Upload documento de identificação: <input type="file" name="upload_documento_identificacao" required="True" /> </li>
</ul>
    <input type="submit" value="Enviar"/>

</form>