<ul>
        <li>No. Contrato: {{ contrato.no_contrato }}</li>
        <li>Status: {{ contrato.get_status_display }}</li>
        <li>Início vigência: {{ contrato.data_inicio_vigencia }}</li>
        <li>Dia Aniversário do contrato: {{ contrato.dia_aniversario }}</li>
        <li>Quantidade de cotas contratadas: {{ contrato.cotas_contratadas }}</li>
        <li>Valor de cada cota: {{ contrato.valor_cota }}</li>
        <li>Total investido: {{ contrato.valor_contratado|floatformat:2 }}</li>
    </ul>
        {% if contrato.lista_lucro_por_mes %}
        <h2>Lucro</h2>
        <ul>
            {% for lucro in contrato.lista_lucro_por_mes %}
                <li>Data: {{ lucro.dt_lucro }}</li>
                <li>Valor do lucro: {{ lucro.vl_lucro|floatformat:2 }}</li>
                <li>Lucro acumulado: {{ lucro.vl_lucro_acumulado|floatformat:2 }}</li>
                <li>Valor acumulado: {{ lucro.vl_acumulado|floatformat:2 }}</li>
                <li>-------------------------</li>
            {% endfor %}
        </ul>
        {% else %}
            <p>usuario ainda não possui lucro acumulado neste contrato</p>
        {% endif %}