{% load static %}
    <ul>
        <li>No. Contrato: {{ contrato.no_contrato }}</li>
        <li>Início vigência: {{ contrato.data_inicio_vigencia }}</li>
        <li>Data encerramento: {{ contrato.data_encerramento }}</li>
        <li>Dia Aniversário do contrato: {{ contrato.dia_aniversario }}</li>
        <li>Quantidade de cotas contratadas: {{ contrato.cotas_contratadas }}</li>
        <li>Valor de cada cota: {{ contrato.valor_cota }}</li>
        <li>Total inicial investido: {{ contrato.valor_contratado|floatformat:2 }}</li>

        <li>
            Contrato:
            {% if contrato.contrato_assinado %}
                <a href="{{ contrato.contrato_assinado.url }}">{{ contrato.contrato_assinado }}</a>
            {% else %}
                Sem contrato assinado
            {% endif %}
        </li>

        <li>
            Detalhamento resgate:
            {% if contrato.detalhamento_resgate %}
                <a href="{{ contrato.detalhamento_resgate.url }}">{{ contrato.detalhamento_resgate }}</a>
            {% else %}
                Sem detalhamento do resgate
            {% endif %}
        </li>



    </ul>
        {% if contrato.lista_lucro_por_mes %}
        <h2>Lucro</h2>
        <ul>
            <li>Total de lucro: $ {{ contrato.lucro_acumulado|floatformat:2 }}</li>
            <li>Valor acumulado: $ {{ contrato.valor_acumulado|floatformat:2 }}</li>
        </ul>
        <table>
            <tr>
                <th>Data - dia aniversário</th>
                <th>Lucro no mês</th>
                <th>Lucro acumulado</th>
                <th>Total acumulado</th>
            </tr>
            {% for lucro in contrato.lista_lucro_por_mes %}
            <tr>
                <td>{{ lucro.dt_lucro }}</td>
                <td>{{ lucro.vl_lucro|floatformat:2 }}</td>
                <td>{{ lucro.vl_lucro_acumulado|floatformat:2 }}</td>
                <td>{{ lucro.vl_acumulado|floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>usuario ainda não possui lucro acumulado neste contrato</p>
        {% endif %}
    <div>

        <img src="{% static 'grafico-exemplo.png' %}" alt="grafico exemplo" />
        Grafico de barras com os últimos 6 meses, os dados pode vir de um JSON que posso gerar
    </div>