{% extends "base.html" %}
{% block title %}Contratos do usuário - Voi Partner{% endblock %}
{% block content %}

{% include "../menu.html" %}
{% include "../menu_lateral.html" %}

<h2>Contratos em vigor</h2>
{% if contratos_em_vigor %}
    <select onchange="if (this.value) window.location.href=this.value">
        <option value="">Selecione um contrato</option>
        {% for contrato_select in contratos_em_vigor %}
        <option value="/contratos-em-vigor/{{ contrato_select.id }}">{{ contrato_select.no_contrato }}</option>
    {% endfor %}
    </select>
{% else %}
    <p>Usuário não possui contratos em vigor</p>
{% endif %}

{% endblock %}