{% extends "base.html" %}
{% block title %}Contrato no: {{ contrato.no_contrato }} - Voi Partner{% endblock %}
{% block content %}
{% load static %}

{% include "../menu.html" %}
{% include "../menu_lateral.html" %}


{% if contrato %}

    {# contrato em vigor #}
    {% if contrato.status == '4' %}
    <h2>Contrato em vigor</h2>
        {% include "../contrato_em_vigor.html" %}
    {% endif %}

    {% if contrato.status == '1' %}
    <h2>Contrato pendente de pagamento</h2>
        {% include "../contrato_pendente_pagamento.html" %}
    {% endif %}

    {% if contrato.status == '2' %}
    <h2>Contrato aguardando compensação</h2>
        {% include "../contrato_aguardando_compensacao.html" %}
    {% endif %}

    {% if contrato.status == '3' %}
    <h2>Contrato pendente de assinatura</h2>
        {% include "../contrato_pendente_assinatura.html" %}
    {% endif %}



{% else %}
    <p>contrato não existente</p>
{% endif %}


{% endblock %}
