{% extends "base.html" %}
{% block title %}Contrato no: {{ contrato.no_contrato }} - Voi Partner{% endblock %}
{% block content %}
{% load static %}

{% include "../menu.html" %}
{% include "../menu_lateral.html" %}

<h2>Contratos em Vigor</h2>
{% if contratos_em_vigor %}
    <select onchange="if (this.value) window.location.href=this.value">
        <option value="">Selecione um contrato</option>
        {% for contrato_select in contratos_em_vigor %}
        <option value="/contratos-em-vigor/{{ contrato_select.id }}" {% if contrato_select.id == contrato.id %} selected {% endif %}>{{ contrato_select.no_contrato }}</option>
    {% endfor %}
    </select>
{% else %}
    <p>Usuário não possui contratos em vigor</p>
{% endif %}

{% if contrato %}

    {% if contrato.status == '4' %}
    <h2>Contrato em vigor</h2>
        {% include "../contrato_em_vigor.html" %}
    {% endif %}


{% else %}
    <p>contrato não existente</p>
{% endif %}


{% endblock %}