{% extends "base.html" %}
{% block title %}Contratos do usuário - Voi Partner{% endblock %}
{% block content %}

{% include "../dados_usuario.html" %}

{% if contratos_em_vigor %}
    <h2>Contratos em vigor</h2>
    <ul>
    {% for contrato in contratos_em_vigor %}
        <li><a href="contratos/{{ contrato.id }}">{{ contrato.no_contrato }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>usuario não possui contratos em vigor</p>
{% endif %}

{% if contratos_pgto_pendente %}
    <h2>Contratos com pagamento pendente</h2>
    <ul>
    {% for contrato in contratos_pgto_pendente %}
        <li><a href="contratos/{{ contrato.id }}">{{ contrato.no_contrato }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>usuario não possui contratos com pagamentos pendentes</p>
{% endif %}



{% endblock %}