{% load static %}
<!DOCTYPE html>
<html>
<head>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script>
$(document).ready(function(){
    $("button").click(function(){
       $.ajax({
        url: '/ajax/simulador-lucratividade',
        data: {
          'valor_investido': document.getElementById('valor-investimento').value,
          'no_meses': document.getElementById('no-meses').value,
        },
        dataType: 'json',
        success: function (data) {

            var div = document.getElementById('grafico-lucratividade');
            div.innerHTML = '<ul><li>' + data.mensagem + '</li></ul>';

        }
      });
    });
});


</script>
</head>
<body>

{% include "../menu.html" %}
{% include "../menu_lateral.html" %}


<div>Contratos em vigor - {{ usuario.no_contratos_em_vigor }}</div>
<div>Contratos pendentes - {{ usuario.no_contratos_pendentes }}</div>
<div>Contratos encerrados - {{ usuario.no_contratos_encerrados }}</div>

<div>Gráfico lucratividade dos últimos 6 meses</div>
<ul>
{% for lucratividade in usuario.lucratividade_ultimos_meses %}
    <li>
        {{ lucratividade.dt_lucro|date:"M Y" }}
        {{ lucratividade.vl_lucro|floatformat:2}}
    </li>
{% endfor %}
</ul>

<div>Lucratividade total até o momento: {{ usuario.lucratividade_total|floatformat:2 }}</div>

<div>
    <div>
        <label>Valor investimento</label>
        <input type="text" id="valor-investimento" />
    </div>
    <div>
        <label>Durante quantos meses</label>
        <input type="text" id="no-meses" />
    </div>
    <button>Calcular lucratividade</button>
    <div id="grafico-lucratividade">

    </div>
</div>



</body>
</html>

