{% extends "base.html" %}
{% block title %}Voi Partner{% endblock %}
{% block content %}

{% include "../menu.html" %}
{% include "../menu_lateral.html" %}

<ul><strong>O que é a Voi Partner?</strong>
    <li>
        A Voi Partner é uma empresa que investe na compra e venda de produtos, utilizando a técnica de Online Arbitrage no mercado americano. Com vasta experiência, a equipe Voi Partner possui suas próprias contas em Market places, sobretudo Amazon. Estando situada em uma região de Tax Free nos Estados Unidos, a Voi Partner possui diversos canais de compra de produtos elegíveis para ser vendidos na Amazon. O resultado de todos estes fatores se traduz em um lucro médio de 35% ao mês em vendas.
    </li>
</ul>
<ul><strong>Oportunidade de Negócio:</strong>
    <li>
        Sabendo que a performance de retorno dos investimentos no mercado financeiro está muito abaixo do desejado, resolvemos dar a oportunidade para que você possa investir em nossa loja, tendo um lucro mínimo garantido de 5% ao mês.
    </li>
</ul>
<ul><strong>Como Funciona?</strong>
    <li>
        Realize seu cadastro <a href="/cadastro">clicando aqui;</a>
    </li>
    <li>
        Seus dados serão analisados e assim que aprovado, você será notificado informando quantas cotas foram liberadas para sua aquisição.
    </li>
    <li>
        A partir daí todo o processo será informado por email.
    </li>
</ul>

<ul><strong>Veja o gráfico com os nossos resultados</strong>
    <li>
        Gráfico com os resultados dos últimos 6 meses
    </li>
</ul>


{% endblock %}